:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  overflow-y: auto;
  @apply bg-gradient-to-br from-primary-800 to-primary-900 bg-fixed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
